.select {
	border: none;
	border-radius: 15px;
	color: #fffdf2;
	font-weight: 500;
	font-size: 1.2rem;
	background-color: #5baaab;
	padding: 1rem 2rem;
	background: url("https://raw.githubusercontent.com/cjlaserna/clasernaj-blog/master/Vector%2036.svg")
		no-repeat right #5baaab;
	background-position-x: calc(100% - 25px);
	-webkit-appearance: none;
	width: 100%;
}

.selectTimer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.selectTimer img {
	aspect-ratio: 1/1;
	max-width: 2rem;
	max-height: 2rem;
}

.selectTimer .container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
}
