---
interface Props {
	end: number;
}

const { end } = Astro.props;
import "select.css";
---

<div class="demo-preview">
	<div class="txt">
		<span class="time" id="current">00:00</span>
		<span class="divider">&nbsp;/&nbsp;</span>
		<span class="time">{end < 10 ? `0` : ``}{end}:00</span>
	</div>
	<div class="progress progress-striped active">
		<div
			style="width: 45%;"
			class="progress-bar"
			id="progressBar"
			data-end={end}
		>
		</div>
	</div>
</div>

<!-- timer functionality -->
<script></script>
