---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="NookOffice">
	<script>
		import YoutubePlayer from 'yt-player';		
		const player = new YoutubePlayer('#player', {
			autoplay: true,
			keyboard: false,
			controls: false,
			annotations: false,
		});
		const feedback = document.getElementById('feedback'); 
		player.load('44MCworZf78');
		player.setVolume(100);
		
		function play(){
			player.unMute();
			player.play();
			console.log('test play')
			if(feedback){feedback.innerHTML = "Playing...";}		
		}
		function pause(){
			player.mute();
			player.pause();
			console.log('test')
			if(feedback){feedback.innerHTML = "Paused";}		
		}

		// event handling
		// Find all buttons with the `alert` class on the page.
		const controls = document.querySelectorAll('img.control');

		// Handle clicks on each button.
		controls.forEach((control) => {
			control.addEventListener('click', () => {
				switch(control.id) {
					case "pause":
						pause();
						break;
					case "play":
						play();
						break;
				} 
			});
			control.addEventListener('mouseover', () => {				
				switch(control.id) {
					case "pause":
						if(feedback){feedback.innerHTML = "<span class='feedback'>Press to Pause..</span>";}	
						break;
						case "play":
						if(feedback){feedback.innerHTML = "<span class='feedback'>Press to Play..</span>";}	
						break;
						case "refresh":
							if(feedback){feedback.innerHTML = "<span class='feedback'>Press to Refresh GIF..</span>";}
							break;
						} 
					});
				});
		
		// refresh video

		// time
		var today = new Date();
		var timeHours = today.getHours();
		
		function updateVideo(){

			function autoPlay(video:string){
				player.load(video, true);
			}

			switch(timeHours){
				case 0:
					autoPlay("V_9Nfwk9yWo");
					break;
				case 1:
					autoPlay("E-GeGj9eD_Y");
					break;
				case 2:
					autoPlay("xJMbtElUepc");
					break;
				case 3:
					autoPlay("Otx87vJ4M1Y");
					break;
				case 4:
					autoPlay("M2aRoiXBU2I");
					break;
				case 5:
					autoPlay("u_VzHJW3HZc");
					break;
				case 6:
					autoPlay("yQ7dheIA96A");
					break;
				case 7:
					autoPlay("5CamjNTPZus");
					break;
				case 8:
					autoPlay("EAp1h3pHa_c");
					break;
				case 9:
					autoPlay("A6wCdDn-HzA");
					break;
				case 10:
					autoPlay("wU7_1ZcjjPc");
					break;
				case 11:
					autoPlay("rHHJpZQe3M0");
					break;
				case 12:
					autoPlay("zxkVYPjhdaM");
					break;
				case 13:
					autoPlay("_1tBg0-8bFI");
					break;
				case 14:
					autoPlay("uzSuYtVZ764");
					break;
				case 15:
					autoPlay("2Dkm3D4ep8w");
					break;
				case 16:
					autoPlay("yeYxyorD-B8");
					break;
				case 17:
					autoPlay("vc1zlXMyZow");
					break;
				case 18:
					autoPlay("TNpieyL1Tt4");
					break;
				case 19:
					autoPlay("iv7Xg2b1Sig");
					break;
				case 20:
					autoPlay("xycWcS8G0EU");
					break;
				case 21:
					autoPlay("LXhG5Lajj7I");
					break;
				case 22:
					autoPlay("DrQSk1Pch8w");
					break;
				case 23:
					autoPlay("QC5Y4TvkMIo");
					break;
			}
			console.log("Updating...");
		}

		// declaring vars
		var pastHour, timeMonth, timeDay, timeYear, timeMinutes;
		function updateTime(){		
			pastHour = timeHours;
			timeMonth = today.getMonth();
			timeDay = today.getDay();
			timeYear = today.getFullYear();
			
			timeHours = today.getHours();
			timeMinutes = today.getMinutes();

			if(pastHour != timeHours){
				updateVideo();
			}
		}
		updateTime();
		updateVideo();
		setInterval(() => {updateTime()}, 1000); 
	</script>
	<main>
		<div class="video-feed">
			<img class="feed-img" src="./video-feed/bg_1.png"/>
			<div class="hidden">
				<div loop="1" id="player"></div>
			</div>
		</div>
		<div class="player-controls">
			<div class="ctrl-wrapper">
				<img class="control" id="pause" src="./player-controls/pause.svg"/>
				<img class="control" id="play" src="./player-controls/play.svg"/>
				<img class="control" id="refresh" src="./player-controls/refresh.svg"/>
			</div>
				<p id='feedback'>Press to Play Manually. Make sure browser autoplay is turned on.</p>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: 0;

		padding: 1rem;

		display: flex;
		justify-content: center;
		align-items: center;

		flex-direction: column;

		overflow: hidden;
		
		width: calc(100vw - 2rem);
		height: calc(100vh - 2rem);
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	img{
		width: 1140px;
		height: 600px;
		border-radius: 25px;
		object-fit: cover;
	}

	.player-controls{
		display: flex;
		justify-content: flex-start;
		align-items: center;

		margin-top: 10px;
		width: calc(1140px - 1.5rem);
		padding: 1rem;
		background-color: #5BAAAB;
		border-radius: 25px;
	}
	.player-controls img.control{
		width: 35px;
		height: 35px;
		
		margin-right: 15px;
		opacity: 1;
	}
	.player-controls img.control:hover{
		cursor: pointer;
		opacity: 0.75;
	}
	.hidden{
		visibility: hidden;
		position: absolute;
		top:0;
		left:0;
		width: 1px;
		height: 1px;
		/* pointer-events: none; */
	}
	#feedback {
		font-size: 1rem;
		color: #FFFDF2;
		margin: 0;
		padding: 0;

		font-weight: 600;
	}
</style>
