main {
	margin: 0;

	padding: 1rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	flex-direction: column;

	overflow: hidden;

	width: calc(100vw - 2rem);
	height: calc(100vh);
}
.video-feed {
	aspect-ratio: 16 / 9;
	height: 75%;
	position: relative;
}
img {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	object-position: bottom;
	object-fit: cover;
}
.img-wrapper {
	position: relative;
	height: 95%;
}
.video-feed .dates {
	position: absolute;
	bottom: 0;
	left: 0;

	margin: 1rem;
	font-size: 1.25rem;
	color: #fffdf2;
}
@media only screen and (max-width: 1100px) {
	.video-feed {
		aspect-ratio: unset;
		width: 100%;
		height: 65%;
	}
	.img-wrapper {
		width: 100%;
	}

	main {
		width: calc(100vw - 2rem);
		height: calc(100vh - 2rem);
		flex-direction: unset;
		align-items: flex-start;
	}
}
@media only screen and (max-width: 500px) and (max-height: 600px) {
	.video-feed {
		height: 60%;
	}
}
@media only screen and (max-height: 500px) {
	.video-feed {
		aspect-ratio: unset;
	}
	.feedback,
	#feedback {
		display: none;
	}
}
