main {
	margin: 0;

	padding: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;

	overflow: hidden;

	width: calc(100vw - 2rem);
	height: calc(100vh - 8rem);
}
h1 {
	font-size: 3rem;
	font-weight: 800;
	margin: 0;
}
.video-feed {
	aspect-ratio: 16 / 9;
	height: 75%;
}
img {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	object-position: bottom;
	object-fit: cover;
}

@media only screen and (max-width: 1100px) {
	.video-feed {
		aspect-ratio: unset;
	}

	main {
		width: calc(100vw - 2rem);
		height: calc(100vh - 2rem);
		flex-direction: unset;
		align-items: flex-start;
	}
}
