---
import Layout from "../layouts/Layout.astro";
import Controls from "../components/Controls.astro";
import "./index.css";
---

<script></script>
<Layout title="NookOffice">
	<main>
		<div class="video-feed">
			<img class="feed-img" id="feed" src="./video-feed/bg_4.gif" />
			<Controls />
		</div>
	</main>
</Layout>
