.player-controls {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;

	margin-top: 10px;
	width: calc(100% - 2rem);
	padding: 1rem;
	background-color: #5baaab;
	border-radius: 25px;
}

.player-controls img.control {
	width: 35px;
	height: 35px;

	margin-right: 15px;
	opacity: 1;
}

.player-controls img.control:hover {
	cursor: pointer;
	opacity: 0.75;
}

.hidden {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	/* pointer-events: none; */
}

#feedback {
	font-size: 1rem;
	color: #fffdf2;
	margin: 0;
	padding: 0;
}

.right-ctrl {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
}

/* slider */
/*Range Reset*/
input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 15rem;
}

/* Removes default focus */
input[type="range"]:focus {
	outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
	background-color: #fffdf2;
	border-radius: 0.5rem;
	height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	/* Override default look */
	appearance: none;
	margin-top: -8px;
	/* Centers thumb on the track */

	/*custom styles*/
	background-color: #5baaab;
	height: 1.5rem;
	width: 1.5rem;
	border: 3px solid #fffdf2;
	border-radius: 3px;
}

input[type="range"]:focus::-webkit-slider-thumb {
	border: 3px solid #fffdf2;
	outline: none;
	/* outline-offset: 0.125rem; */
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
	background-color: #fffdf2;
	border-radius: 0.5rem;
	height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
	border: none;
	/*Removes extra border that FF applies*/
	border-radius: 0;
	/*Removes default border-radius that FF applies*/

	/*custom styles*/
	background-color: #5cd5eb;
	height: 2rem;
	width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
	border: 3px solid #fffdf2;
	outline: none;
	/* outline-offset: 0.125rem; */
}

@media only screen and (max-width: 1100px) {
	.player-controls {
		display: flex;
		flex-direction: column !important;
	}

	.player-controls>* {
		margin-bottom: 1rem;
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.player-controls p {
		text-align: left;
		justify-content: flex-end;
		position: relative;
	}

	.player-controls p:before {
		content: "Volume:";
		position: absolute;
		left: 0;
	}

	#range {
		width: 100%;
		margin: 1rem 0;
	}

	.ctrl-wrapper:last-child {
		margin-right: 0;
	}

	.right-ctrl {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 650px) {
	.player-controls p:before {
		content: "";
	}

	.player-controls p {
		text-align: left;
		justify-content: flex-start;
		position: relative;
		flex-direction: column;
	}
}

@media only screen and (max-height: 500px) {
	.ctrl-wrapper {
		margin-bottom: 0;
	}

	.right-ctrl {
		max-height: 50px;
	}
}