.player-controls {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;

	margin-top: 10px;
	width: calc(100% - 2rem);
	padding: 1rem;
	background-color: #5baaab;
	border-radius: 25px;
}
.player-controls img.control {
	width: 35px;
	height: 35px;

	margin-right: 15px;
	opacity: 1;
}
.player-controls img.control:hover {
	cursor: pointer;
	opacity: 0.75;
}
.hidden {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	/* pointer-events: none; */
}
#feedback {
	font-size: 1rem;
	color: #fffdf2;
	margin: 0;
	padding: 0;
}
.right-ctrl {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
}
#range {
	background-color: transparent;
}

/* slider */
input[type="range"]:focus {
	outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 11px;
	cursor: pointer;
	animate: 0.2s;
	background: #fff;
	border-radius: 50px;
}
input[type="range"]::-webkit-slider-thumb {
	border: 4px solid #5baaab;
	height: 18px;
	width: 18px;
	border-radius: 4px;
	background: #5baaab;
	cursor: pointer;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #fff;
}
input[type="range"]::-moz-range-track {
	width: 100%;
	height: 11px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #fff;
	border-radius: 50px;
	border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
	border: 4px solid #fff;
	height: 18px;
	width: 18px;
	border-radius: 4px;
	background: #5baaab;
	cursor: pointer;
}
input[type="range"]::-ms-track {
	width: 100%;
	height: 11px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type="range"]::-ms-fill-lower {
	background: #fff;
	border-radius: 100px;
}
input[type="range"]::-ms-fill-upper {
	background: #fff;
	border-radius: 100px;
}
input[type="range"]::-ms-thumb {
	margin-top: 1px;
	border: 4px solid #fff;
	height: 18px;
	width: 18px;
	border-radius: 4px;
	background: #5baaab;
	cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
	background: #fff;
}
input[type="range"]:focus::-ms-fill-upper {
	background: #fff;
}

@media only screen and (max-width: 1100px) {
	.player-controls {
		display: flex;
		flex-direction: column !important;
	}

	.player-controls > * {
		margin-bottom: 1rem;
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	.player-controls p {
		text-align: left;
		justify-content: flex-end;
		position: relative;
	}

	.player-controls p:before {
		content: "Volume:";
		position: absolute;
		left: 0;
	}
	#range {
		width: 100%;
		margin: 1rem 0;
	}

	.ctrl-wrapper:last-child {
		margin-right: 0;
	}

	.right-ctrl {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 650px) {
	.player-controls p:before {
		content: "";
	}
	.player-controls p {
		text-align: left;
		justify-content: flex-start;
		position: relative;
		flex-direction: column;
	}
}

@media only screen and (max-height: 500px) {
	.ctrl-wrapper {
		margin-bottom: 0;
	}
	.right-ctrl {
		max-height: 50px;
	}
}
