---
import "./timer/select.css";
import "./timer/timer.css";
---

<div class="selectTimer" id="selectTimerContainer">
	<img src="/time.svg" />
	<select name="selectTimer" class="select" id="selectTimer" autocomplete="off">
		<option selected disabled hidden> </option>
		<option value="5">5 Minutes</option>
		<option value="15">15 Minutes</option>
		<option value="30">30 Minutes</option>
	</select>
</div>
<script>
	function updateTimer(end: number) {
		let container = document.getElementById("selectTimerContainer");
		if (container) {
			container.innerHTML = `<div class="demo-preview">
	<div class="txt">
		<span class="time" id="current">00:00</span>
		<span class="divider">&nbsp;/&nbsp;</span>
		<span class="time">${end < 10 ? `0` : ``}${end}:00</span>
    

        </div>
	<div class="progress progress-striped active">
		<div
			style="width: 0%;"
			class="progress-bar"
			id="progressBar"
			data-end=${end}
		>
		</div>
	</div>
</div>`;
		}

		let endDate = new Date();
		let progressBar = document.getElementById("progressBar");

		const data = progressBar?.dataset.end;

		endDate.setMinutes(endDate.getMinutes() + end);
		function getDistance(start: Date, end: Date) {
			return end.getTime() - start.getTime();
		}

		var x = setInterval(function () {
			var distance = getDistance(new Date(), endDate);

			// Time calculations for minutes and seconds
			var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			var seconds = Math.floor((distance % (1000 * 60)) / 1000);
			var progress = Math.round((Math.trunc(end - minutes - 1) / end) * 100);

			// displaying text
			let textProgress = document.getElementById("current");

			let minutesInvert = Math.round(end - minutes - 1);
			let secondsInvert = Math.round(60 - seconds);

			if (textProgress) {
				var text = "";

				if (secondsInvert == 60) {
					minutesInvert += 1;
					secondsInvert = 0;
				}

				if (minutesInvert < 10) {
					text += "0";
					text += minutesInvert;
				} else {
					text += minutesInvert;
				}

				text += ":";
				if (secondsInvert < 10) {
					text += "0";
					text += secondsInvert;
				} else {
					text += secondsInvert;
				}

				textProgress.innerHTML = text;
			}
			// for progress bar
			let visualProgress = document.getElementById("progressBar");
			if (visualProgress) {
				visualProgress.style.width = `${progress}%`;
			}

			// If the count down is finished, write some text
			if (distance < 0 || progressBar?.dataset.end == "0") {
				clearInterval(x);
				alert("Timer finished");
				location.reload();
				// play noise
			}
		}, 1000);
	}

	const selector = document.querySelector("#selectTimer") as HTMLInputElement;

	selector?.addEventListener("input", () => {
		var selectorValue = selector.value;
		switch (selectorValue) {
			case "5":
				updateTimer(5);
				break;
			case "15":
				updateTimer(15);
				break;
			case "30":
				updateTimer(30);
				break;
			default:
				null;
		}
	});
</script>
<style>
	.selectTimer {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 10px;
	}
	.selectTimer img {
		aspect-ratio: 1/1;
		max-width: 2rem;
		max-height: 2rem;
	}
</style>
