---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<div class="creds">
			<p>
				developed by <a href="https://github.com/cjlaserna" target="_blank">
					@clasernaj</a
				>
			</p>
			<p>
				<a href="https://github.com/cjlaserna/nookoffice">
					view artists, project files, etc.
				</a>
			</p>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
	}
	body {
		background-color: #f6f6f6;
		background-image: url("/animalcrossing_pattern.jpg");
		background-repeat: repeat-x;
		background-position: center;
		background-size: cover;

		width: 100vw;
		height: 100vh;

		margin: 0;
		padding: 0;
	}

	@font-face {
		font-family: "Arial Rounded MT";
		src: url("./Arial_Rounded_MT.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "Arial Rounded MT Bold";
		src: url("./arialmtbold.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	* {
		font-family: "Arial Rounded MT Bold", sans-serif;
	}
	p {
		margin: 0;
		color: #fffdf2;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}

	.creds {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 1rem;
	}
	.creds p,
	.creds a {
		font-size: 0.75rem;
		color: #000 !important;
	}
</style>
